{% extends 'base.html' %}
{% block content %}
{% if cart.products.all %}
<table class="table cart-table">
    <tr>
        <th>#</th>
        <th colspan="2">Product</th>
        <th>Price</th>
    </tr>
    <tbody class="cart-body" >
    {% for product in cart.products.all %}
    <tr class="cart-product">
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {{product.pname}}
        </td>
        <td>
            {% include "products/snippets/update-cart.html" with product=product in_cart=True %}
        </td>
        <td>{{product.price}}</td>
    </tr>
    {% endfor %}
    <tr>
        <hr/>
    </tr>
    <tr>
        <th colspan="3">Subtotal</th>
        <td><span class="cart-subtotal"> {{cart.subtotal}}</span></td>
    </tr>
    <tr>
        <hr/>
    </tr>
    <tr>
        <th colspan="3"> Total</th>
        <td><span class="cart-total"> {{cart.total}}</span></td>
    </tr>
</tbody>
</table>
<div class="col-12 text-center">
    <a class="btn btn-success" href="{% url 'cart:checkout' %}">Checkout</a>
</div>
<div class="cart-item-remove-from" style="display: none">
    {% include "products/snippets/update-cart.html" with in_cart=True %}
</div>
{% else %}
<h1>Cart is Empty</h1>
{% endif %}

{% endblock %}
